*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color: #192a4a;
background-repeat: no-repeat;
background-attachment: fixed;
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;


}

.start_pg{

    background-color: #192a4a;
    height: 100%;
   width: 100%;
    position: fixed;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.start_btn{
    font-family: "Times New Roman", Times, serif;

    font-size: 35px;
    color: #fcf9f8;
    padding: 10px;
    background-color: #ff9f05;
    border: 4px solid rgb(254, 244, 225);
    border-radius: 20px;
}
.start_btn:hover{
    box-shadow: 0 2px 15px rgb(83, 105, 176);
    background-color: #db8803;
}

.popup{
    height:350px;
    width: 350px;
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: #fcfbfc;
    opacity: 80%;
    color: #192a4a;
    border: none;
    border-radius: 10px;
    padding: 8px;
}

#two_btn button{
    font-size: 20px;
    background-color: #fbfbfa;
    color: #ff9f05;
    border: 3px solid #ff9f05 ;
    border-radius: 10px;
    padding: 4px;


}
#two_btn button:hover{
    background-color:#ff9f05 ;
    color: #fbfbfa;

}
#heading{
    background-color:  #ff9f05;
    color: white;
    height: 50px; 
     width:350px; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;

}
.container{
    height: 350px;
    width: 350px;
    background-color: rgb(252, 251, 253);
    flex-direction: column;
    padding: 20px;
    border: 5px solid #ff9f05;
    border-radius: 10px;
    box-shadow: inset 2px 2px 10px rgb(155, 151, 151);
   


}
.container2{
    height:330px ;
    width: 340px;
    display: flex;
    justify-content: center;
flex-direction: column;
}

.btn{
    display: flex;
    flex-direction: row;
    float: left;
    margin: 5px;
    height:40px ;
    width:330px;
    align-items: center;
    padding-left: 10px ;
    background-color: #fbfbfa;
color: #021e53;
border: 3px solid #192a4a ;
border-radius: 10px;

}
.btn:hover{
    border: 3px solid #617dae;
    cursor: pointer;
}
#Question{
    font-size: 20px;
    color:rgb(235, 145, 0);
    margin: 1rem;
}
.msg{
    height:200px;
    width:200px;
}

.hide{
    display:none;
}

